@import url(content/header.css);
@import url(content/main.css);
@import url(content/footer.css);

.man {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.man:nth-child(even) {
    flex-direction: row-reverse;
}

.avatar {

}

.description {
    display: flex;
    flex-direction: column;
}

.name {

}